<p>
  <b>Label:</b>
  <%=h @album_root.label %>
</p>

<p>
  <b>Status:</b>
  <%=h @album_root.status %>
</p>

<p>
  <b>Type:</b>
  <%=h @album_root.type %>
</p>

<p>
  <b>Identifier:</b>
  <%=h @album_root.identifier %>
</p>

<p>
  <b>Specificpath:</b>
  <%=h @album_root.specificPath %>
</p>

<h2>Albums</h2>
<table>
<% @album_root.albums.each do |album| %>
  <tr>
    <td><%= h album.id %></td>
    <td><%= h album.relativePath %></td>
    <td><%= link_to 'show', :controller => "albums", :action => 'show', :id => album %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Back', album_roots_path %>
