<h1>Editing file_path</h1>

<% form_for(@file_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @file_path %> |
<%= link_to 'Back', file_paths_path %>