<h1>Listing file_paths</h1>

<table>
  <tr>
    <th>Path</th>
  </tr>

<% @file_paths.each do |file_path| %>
  <tr>
    <td><%=h file_path.path %></td>
    <td><%= link_to 'Show', file_path %></td>
    <td><%= link_to 'Edit', edit_file_path_path(file_path) %></td>
    <td><%= link_to 'Destroy', file_path, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New file_path', new_file_path_path %>