<p>
  <b>Type:</b>
  <%=h thumbnail.type %>
</p>

<p>
  <b>Modification Date:</b>
  <%=h thumbnail.modificationDate %>
</p>

<p>
  <b>Orientation Hint:</b>
  <%=h thumbnail.orientationHint %>
</p>

<p>
  <b>Data:</b>
  <img src="<%= url_for :action => 'show', :format => "png", :id => thumbnail %>" />
</p>

<p>
  <b>Unique Hash:</b>
  <%= thumbnail.unique_hash.uniqueHash %>
</p>
