<h1>Editing thumbnail</h1>

<% form_for(@thumbnail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :modificationDate %><br />
    <%= f.datetime_select :modificationDate %>
  </p>
  <p>
    <%= f.label :orientationHint %><br />
    <%= f.text_field :orientationHint %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @thumbnail %> |
<%= link_to 'Back', thumbnails_path %>
