<p>
  <b>Make:</b>
  <%=h image_metadata.make %>
</p>

<p>
  <b>Model:</b>
  <%=h image_metadata.model %>
</p>

<p>
  <b>Lens:</b>
  <%=h image_metadata.lens %>
</p>

<p>
  <b>Focallength:</b>
  <%=h image_metadata.focalLength %>
</p>

<p>
  <b>Focallength35:</b>
  <%=h image_metadata.focalLength35 %>
</p>

<p>
  <b>Exposuretime:</b>
  <%=h image_metadata.exposureTime %>
</p>

<p>
  <b>Exposureprogram:</b>
  <%=h image_metadata.exposureProgram %>
</p>

<p>
  <b>Exposuremode:</b>
  <%=h image_metadata.exposureMode %>
</p>

<p>
  <b>Sensitivity:</b>
  <%=h image_metadata.sensitivity %>
</p>

<p>
  <b>Flash:</b>
  <%=h image_metadata.flash %>
</p>

<p>
  <b>Whitebalance:</b>
  <%=h image_metadata.whiteBalance %>
</p>

<p>
  <b>Whitebalancecolortemperature:</b>
  <%=h image_metadata.whiteBalanceColorTemperature %>
</p>

<p>
  <b>Meteringmode:</b>
  <%=h image_metadata.meteringMode %>
</p>

<p>
  <b>Subjectdistance:</b>
  <%=h image_metadata.subjectDistance %>
</p>

<p>
  <b>Subjectdistancecategory:</b>
  <%=h image_metadata.subjectDistanceCategory %>
</p>

