<p>
  <b>Property:</b>
  <%=h @image_copyright.property %>
</p>

<p>
  <b>Value:</b>
  <%=h @image_copyright.value %>
</p>

<p>
  <b>Extravalue:</b>
  <%=h @image_copyright.extraValue %>
</p>


<%= link_to 'Edit', edit_image_copyright_path(@image_copyright) %> |
<%= link_to 'Back', image_copyrights_path %>