<h1>Albums</h1>

<table>
  <tr>
    <th>Relativepath</th>
    <th>Date</th>
    <th>Caption</th>
    <th>Collection</th>
    <th>Icon</th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%=h album.relativePath %></td>
    <td><%=h album.date %></td>
    <td><%=h album.caption %></td>
    <td><%=h album.collection %></td>
    <td><%=h album.icon %></td>
    <td><%= link_to 'Show', album %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @albums %>
