<p>
  <b>Relativepath:</b>
  <%=h @album.relativePath %>
</p>

<p>
  <b>Date:</b>
  <%=h @album.date %>
</p>

<p>
  <b>Caption:</b>
  <%=h @album.caption %>
</p>

<p>
  <b>Collection:</b>
  <%=h @album.collection %>
</p>

<p>
  <b>Icon:</b>
  <%=h @album.icon %>
</p>

<%= link_to 'Back', albums_path %>

<h2>Images</h2>
<table>
<% @album.images.each do |image| %>
  <tr>
    <td><%= link_to 'image', :controller => "images", :action => 'show', :id => image %></td>
  </tr>
<% end %>
</table>
