<p>
  <b>Name:</b>
  <%=h @tag.name %>
</p>

<p>
  <b>Icon:</b>
  <%=h @tag.icon %>
</p>

<p>
  <b>Iconkde:</b>
  <%=h @tag.iconkde %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>