<h1>New unique_hash</h1>

<% form_for(@unique_hash) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fileSize %><br />
    <%= f.text_field :fileSize %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', unique_hashes_path %>