<table>
	<tr><th>Rating:</th><td><%=h image_information.rating %></td></tr>
	<tr><th>Creationdate:</th><td><%=h image_information.creationDate %></td></tr>
	<tr><th>Orientation:</th><td><%=h image_information.orientation %></td></tr>
	<tr><th>Width:</th><td><%=h image_information.width %></td></tr>
	<tr><th>Height:</th><td><%=h image_information.height %></td></tr>
	<tr><th>Format:</th><td><%=h image_information.format %></td></tr>
	<tr><th>Colordepth:</th><%=h image_information.colorDepth %></td></tr>
	<tr><th>Colormodel:</th><%=h image_information.colorModel %></td></tr>
</table>
