<h1>Listing images</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Category</th>
    <th>Modificationdate</th>
    <th>Filesize</th>
    <th>Uniquehash</th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%=h image.name %></td>
    <td><%=h image.status %></td>
    <td><%=h image.category %></td>
    <td><%=h image.modificationDate %></td>
    <td><%=h image.fileSize %></td>
    <td><%=h image.uniqueHash %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New image', new_image_path %>